<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        <h1>
            ASP.NET MVC MUSIC STORE
        </h1>
        <ul id="navlist">
            <li class="first">
                <a href="/"
                   id="current">Home</a>
            </li>
            <li>
                <a href="/Store/">Store</a>
            </li>
            <li>
                <a href="/ShoppingCart/">Cart</a>
            </li>
            <li>
                <a href="/">Contact Us</a>
            </li>

        </ul>
    </div>
    @RenderSection("scripts", required: false)
    @{Html.RenderAction("GenreMenu", "Store");}
    <div id="main">
        @RenderBody()
        </div>
</body>
</html>